[2020-09-30 16:31] SureshKamediya opened #1 "Reach a given score"
## **BASIC**
Dynamic programming is an idea to simply store the results of subproblems, so that we do not have to re-compute them when needed later, or you can say that it is mainly an optimization over plain recursion.

Ex-
long int fact(long int x)
{
    if(x==0)
	return 1;                       Recursion
    return x*fact(x-1);
}

long int dp[MAXN]

long int fact(long int x)
{
    if(x==0)
	ret

[2020-09-30 19:59] rakki-18 opened #2 "Tree Diameter"
### Description
Write an efficient code to find the diameter of a tree
### Details
- Technical Specifications: C/C++
- Type of issue: Single
- Time Limit: 2 days

### Issue requirements / progress
- [x] Implementing an algorithm to find the diameter of a tree

### Resources
https://www.hackerearth.com/practice/algorithms/graphs/depth-first-search/tutorial/
### Directory Structure
Create a new fold

[2020-09-30 20:13] probhav commented on #2
I'll like to claim the issue. Happy to contribute!

[2020-09-30 20:20] shubhamptw commented on #2
I'd like to claim the issue. I'd write simple and self explanatory code for it.

[2020-09-30 20:25] shibrahmachari commented on #2
can i claim this?

[2020-09-30 20:51] ikjot-2605 opened #3 "OAuth login using Firebase"
### Description
Create a web/mobile application that allows a user to sign in using his/her (Google account/Phone Number).
You are recommended to use the Authentication feature from Firebase.

### Details
- Technical Specifications: Web(HTML/CSS/JS) or App(Flutter(Recommended)/Android) Development + Firebase
- Type of issue: Single
- Time Limit: 48 hours

### Issue requirements / progress
- [ ] Im

[2020-09-30 21:21] vnishchay commented on #3
I'm want to work on it.

[2020-09-30 21:23] ikjot-2605 commented on #3
Sure, go ahead.

[2020-09-30 21:49] AnirudhAchal opened #4 "Student Course Schedule"
### Description
You are given a list of courses that a student must complete in order to graduate from a college along with prerequisites for each of them respectively. In order to take a course, a student must first complete all of it's prerequisites. Write an efficient algorithm / function that returns any suitable order that a student can take in order to complete all the courses.

### Details

[2020-10-01 03:52] DeltaCube23 opened #5 "Rock Paper Scissors"
### Description
2 players A and B play the game of rock, paper, scissors for **n** rounds. Let [a1,a2,a3] & [b1,b2,b3] represent the number of times A and B show rock(1), scissor(2) and paper(3) respectively. It is guaranteed that a1+a2+a3 = b1+b2+b3 = n.
1. Find the maximum number of rounds Alice can win.
2. Find the minimum number of rounds  Alice can win.
(NOTE : The sequence in which they show

[2020-10-01 04:23] ph09 opened #6 "LZW Encoding"
### Description
A text file has been provided in the folder. Write a program to implement LZW encoding on the input from the text file and output the final encoding and the encoding for each substring.

### Details
- Technical Specifications: Any language can be used for implementation. Python/C++ is preferred.
- Type of issue: Single.
- Time Limit: 2 days

### Issue requirements / progress
- [ ]

[2020-10-01 04:42] manakpandey commented on #6
I want to work on it.

[2020-10-01 04:42] rak108 opened #7 "Number of distinct substrings of a string"
### Description
Take a string of lowercase alphabets only as input from user, and then count the number of distinct substrings of the string by using a trie.

### Details
- Technical Specifications: Prefered languages are C/C++
- Type of issue: Single
- Time Limit: 1 day after being assigned the issue

### Issue requirements / progress
- [ ] Implement the given task efficiently.

### Resources
- h

[2020-10-01 04:53] krithikvaidya opened #8 "BMI calculator with a GUI"
### Description
Create a BMI (Body Mass Index) calculator. It should take the height (in meters) and weight (in kg) as inputs. As the output, it should show the BMI value and the category under which that height + weight combination comes under (underweight, normal healthy weight, etc.). The application should have a simple Graphical User Interface.

### Details
- Technical Specifications:
- Type

[2020-10-01 04:57] AnorexicAtticusFinch opened #9 "Server-Client System Using Socket Programming"
### Description
Create a C/C++ program to make a server that listens for a client at a certain port. Create a C/C++ program to make a client that tries to connect to the server on the same port (The server and client will be running on the same system). The client sends the name of file to the server (Take the filename as input from the user). If the file exists on the server, the server will retu

[2020-10-01 05:02] KushGrandhi commented on #8
@krithikvaidya
i want to do gui with python

[2020-10-01 05:04] sakkshm commented on #8
Hey @krithikvaidya , I would like to do it with HTML,CSS and JS ! Please assign that to me.

[2020-10-01 05:07] chakravarthi-v commented on #8
hey @krithikvaidya
I want to do it with java with android studio

[2020-10-01 05:07] mayukh-B commented on #8
Hey @krithikvaidya , I would to like to work using HTML and JS . Can you please assign the task to me .

[2020-10-01 05:09] Shreya301 opened #10 "Minimum moves of a knight"
### Description
Given a square chessboard of 8 x 8 size, the initial position  of a Knight and position of a target destination ((1,1) being the bottom left square and (8,8) the top right, column number is first coordinate and row number is the second), find the minimum moves the knight needs to make to reach the target position using BFS.
Example:
Input: 1,1
           8,8
Output: 6

### Details

[2020-10-01 05:17] Shreya301 opened #11 "Percolation using union-find"
### Description
Consider a percolation model as a grid of NxN sites, with each site is open with the probability p. Find the probability that the system percolates. System percolates iff top and bottom are connected by open sites. When p=0, system never percolates (all sites are closed) when p=1, system always percolates (all sites are open). For large N, there will be a sharp threshold p*, after

[2020-10-01 05:18] pranavdv opened #12 "Inversions of a permutation"
### Description

Given a permutation of integers from 1 to n, find the number of inversions for each integer. An inversion for an element p[i] is an index j such that, j<i and p[j]>p[i].

For example,
**Input:**
5
4 1 5 3 2

**Output:**
1 3 2 0 0

**Explanation:**
Consider p[i]=3. There are 2 elements to its left which are greater than it. Thus there are 2 inversions for 3.

### Details

- Technic

[2020-10-01 05:18] buttercrab commented on #10
Can I do this task?

[2020-10-01 05:23] srujangit123 opened #13 "Stack with max"
### Description
Implement stack with operations push, pop, get_max where get_max function gives the maximum element in the stack.

### Details
- Technical Specifications: Preferred languages : C/C++, python, javascript
- Type of issue: Single
- Time Limit: 1 day after being assigned the issue.

### Issue requirements / progress
- Implement the task efficiently

### Resources
- https://www.geeksfor

[2020-10-01 05:24] vedanttttt commented on #10
Please assign it to me , I can do this .

[2020-10-01 05:25] buttercrab commented on #12
Can I do this task?

[2020-10-01 05:27] Pratap2018 commented on #13
I want to work on this using python

[2020-10-01 05:28] Shreya301 commented on #10
@buttercrab sure go ahead!

[2020-10-01 05:28] Rishabh186 commented on #13
I want to work on this in cpp

[2020-10-01 05:32] srujangit123 opened #14 "Disjoint set union with path compression"
### Description
Implement disjoint set data structure with operations union(with path compression) and find.

### Details
- Technical Specifications: Preferred Languages: C/C++, python, javascript
- Type of issue: Single
- Time Limit: 1 day after being assigned the issue.

### Issue requirements / progress
- Write an efficient program.

### Resources
https://www.hackerearth.com/practice/data-struc

[2020-10-01 05:36] sathwikveeramaneni commented on #13
i want to work on this

[2020-10-01 05:38] dipanshug124 commented on #14
@srujangit123 Please assign this to me

[2020-10-01 05:40] srujangit123 commented on #14
Yeah sure. Go ahead @dipanshug124

[2020-10-01 05:41] gaurang2001 opened #15 "Dynamic Password Validation"
## Description
We often come across sites that require us to have a strong password. **A strong password is the one that uses a combination of upper and lower case letters, numbers, symbols and is at least 10 characters long.** Make a simple sign-up page that dynamically checks if the password entered is a strong password as and when the user types in the password field. If successful, display an

[2020-10-01 05:43] srujangit123 commented on #13
@Pratap2018 Go ahead

[2020-10-01 05:47] dipanshug124 commented on #12
Please assign this to me

[2020-10-01 05:47] krithikvaidya commented on #8
@KushGrandhi @sakkshm @chakravarthi-v, sure go ahead.
@mayukh-B, someone has already claimed the HTML + JS one... You can take up another one if interested.

[2020-10-01 05:47] dipanshug124 commented on #11
Please assign this to me

[2020-10-01 05:47] dipanshug124 commented on #7
Please assign this to me

[2020-10-01 05:48] dipanshug124 commented on #4
Please assign this to me

[2020-10-01 05:51] dipanshug124 commented on #14
@srujangit123 Please check if assign is done properly? I can't see my name in assignee

[2020-10-01 05:54] rakki-18 commented on #2
@probhav  Sure, I am assigning it you.  Please stick to the time limit

[2020-10-01 06:01] srujangit123 commented on #13
@Pratap2018 Can you get the maximum in O(1). It should be O(1) after each push, pop operations

[2020-10-01 06:02] buttercrab commented on #5
Can I do this task?

[2020-10-01 06:15] Pratap2018 commented on #13
sure i will do it

[2020-10-01 06:16] ZerothKing opened #18 "BFS with primes"
### Description
Given two prime numbers a and b you have to find out the number of step required to convert one prime to another.
In one step you can change a **single digit** of the number but the catch is that the resulting number should be **prime**. If you can convert the first prime(a) to the second(b) then give the number of steps required else say "IMPOSSIBLE"

For example,
**Input**:
1033

[2020-10-01 06:21] srujangit123 commented on #13
Also make sure you put your file inside 13_stack_with_max folder under Algorithms

[2020-10-01 06:21] dipanshug124 commented on #18
@ZerothKing Please assign this to me

[2020-10-01 06:31] muditsinghal opened #21 "COVID-19 Data Visualization"
### Description
Create an IPython Notebook to visualize COVID-19 Data using pandas and matplotlib.
### Details
- Technical Specifications: Python, Jupyter Notebook
- Type of issue: Single
- Time Limit: 48 Hours

### Issue requirements / progress
- [ ] Task 1. Extract the CSV file using the link given below.
- [ ] Task 2. Prepare the Dataframes for Data Visualization using pandas.
- [ ] Task 3. Cre

[2020-10-01 06:33] SidharthLanka opened #22 "Self Balancing Tree"
### Description
An AVL tree is a self-balancing binary search tree. In an AVL tree, the heights of the two child subtrees of any node differ by at most one; if at any time they differ by more than one, rebalancing is done to restore this property.
You are given a pointer to the root of an AVL tree. Insert a value into this tree and perform the necessary rotations to ensure that it remains balanced

[2020-10-01 06:36] Janmansh opened #23 "Morse Code"
### Description
Write a program which takes a string "S" as input and add a function which takes string "S" as its argument and returns the string containing morse code of "S". <br>
Also add a function which accepts morse code and returns the original text for it.

### Details
- Technical Specifications - Morse code should be stored as string.
- Type of issue: Single
- Time Limit: 2 days (This tim

[2020-10-01 06:36] limebell commented on #22
I'd like to work on this issue :)

[2020-10-01 06:36] blackfly19 commented on #21
Can you please assign me this issue.

[2020-10-01 06:37] Shreya301 commented on #11
Go ahead!

[2020-10-01 06:39] raypretam commented on #23
I would like to work on this issue. Could you please assign it to me?

[2020-10-01 06:39] pradumio commented on #21
I can work on this. Can you assign me?

[2020-10-01 06:43] Janmansh commented on #23
Okay go ahead @raypretam

[2020-10-01 06:44] limebell commented on #22
It seems like *Directory Structure* section is missing :(

[2020-10-01 06:45] spectre900 opened #24 "Prefix Word Count"
### Description
You are given a list of valid words and for each query you will be given a prefix . Write an efficient function/algorithm that will return the number of valid words having the given word as its prefix.

### Details
- Technical Specifications: Implementation in C/C++ is preferred and for each query the runtime should be O(L) where L is the length of the given Prefix.
- Type of issue

[2020-10-01 06:47] Pratap2018 commented on #13
I did it and created pull request and improved Efficiency to O(1)

[2020-10-01 06:49] SuyashGupte commented on #24
I want to work on this

[2020-10-01 06:50] chakravarthi-v commented on #3
@ikjot-2605 if it possible I want to do it

[2020-10-01 06:51] SuyashGupte commented on #24
can I write program for this in python?

[2020-10-01 06:52] ankur-kayal commented on #24
I can work on this issue. I can implement this in c++. @spectre900 . Please assign me 👍

[2020-10-01 06:52] dipanshug124 commented on #11
@Shreya301 please assign it to me

[2020-10-01 07:15] suhasks123 opened #25 "Implement fibonacci search in C++"
### Description
Fibonacci search is an algorithm for searching an element in an array. It is a comparison-based technique that uses Fibonacci numbers to search an element in a sorted array. It uses a divide and conquer strategy similar to binary search.

### Details
- Technical Specifications:
- Type of issue: Single
- Time Limit: 24 hours

### Issue requirements / progress
Implement a function to

[2020-10-01 07:20] ankur-kayal commented on #25
Can i work on this issue?
Questions:
1. Can i use vectors instead of arrays?
2. Do i have to take input from user and write output to the console?
@suhasks123

[2020-10-01 07:21] Harjot9812 commented on #25
i am working

[2020-10-01 07:22] ankur-kayal commented on #25
@Harjot9812 how can you work? You havent claimed the issue yet

[2020-10-01 07:23] suhasks123 commented on #25
@ankur-kayal You can start working on the issue

To answer your queries,
1. Yes, you can use vectors
2. Yes, take input from the user and write appropriate output to the console

[2020-10-01 07:26] sakkshm commented on #8
I completed the web tasks in #27

[2020-10-01 07:27] rakki-18 opened #28 "Housing Price Prediction"
### Description
Given the features of the house, predict the price of the house using any of the regression algorithms .
You can download the dataset from [here](https://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html)
or you could load it by typing
[code]

### Details
- Technical Specifications:  python, numpy, pandas, scikit-learn
- Type of issue: Multiple
- Time Limit: 2 days
### Issue

[2020-10-01 07:30] suhasks123 commented on #25
@Harjot9812 Please claim the issue before working on it

[2020-10-01 07:31] Hemant7499 commented on #28
I would like to work on this using the linear regression model.

[2020-10-01 07:31] sravanireddy1102 commented on #18
Hey!Can I work on this?

[2020-10-01 07:31] Harjot9812 commented on #25
I forget sorry. Can you plz not dismiss my pull request. ankur can add on my file
@suhasks123

[2020-10-01 07:34] rakki-18 commented on #28
@Smally12345 Sure, go ahead.

[2020-10-01 07:35] ankur-kayal commented on #25
@suhasks123 thank you for assigning this and clarifying my doubts 👍

[2020-10-01 07:41] SaiKrishna1207 opened #29 "Hash Table implementation"
### Description
Create a simple implementation of a hash table in C/C++/Java using any data structure required. A simple hash function can be used and progressively improved with time. The hash table should have the following 3 functions - Insert, Delete and Retrieve. These functions should be implemented independent of each other. Any data structure can be used. There is no restriction on the has

[2020-10-01 07:49] Bharadwaja92 commented on #1
Hi @SureshKamediya Can I work on this?

[2020-10-01 08:03] itsanshulverma commented on #28
@rakki-18 I would like to work on polynomial regression model

[2020-10-01 08:06] KushGrandhi commented on #8
@krithikvaidya i completed the gui for python in #32

[2020-10-01 08:17] muditsinghal commented on #21
@blackfly19 go ahead with the issue.

[2020-10-01 08:35] rak108 commented on #7
@dipanshug124 Sure, you can start working on this.

[2020-10-01 08:39] chakravarthi-v commented on #8
@krithikvaidya  I have completed #34

[2020-10-01 08:53] krithikvaidya commented on #8
@sakkshm @KushGrandhi @chakravarthi-v great, the PRs will be reviewed and merged in a few days

[2020-10-01 08:55] Shreya301 commented on #11
As of now we are simply assigning issues by way of request, so you can go ahead with solving this @dipanshug124

[2020-10-01 08:58] viveshy opened #35 "Exploring REST API"
### Description
Create a REST API in your favorite programming language which should include at least four HTTP methods ( GET, POST, PUT, DELETE, etc).

### Details
- Technical Specifications: Any programming language
- Time Limit: 48 hours from the time of assignment

### Issue requirements / progress
- [x] REST API with any four HTTP methods.

### Resources
You can refer to some of the following

[2020-10-01 08:59] KushGrandhi commented on #35
@viveshCodes  please assign this to me

[2020-10-01 09:02] shaonakundu commented on #28
@rakki-18 I would like to work on linear regression model, I have knowledge in this domain so please allow me to contribute this task..can you assign me for linear regression?

[2020-10-01 09:04] RohanSahana commented on #28
@rakki-18  I would like to use the Multiple Linear Regression.

[2020-10-01 09:09] viveshy commented on #35
@KushGrandhi You can go ahead. Happy coding!

[2020-10-01 09:13] mohitshende commented on #35
@viveshCodes  I would like to do this.

[2020-10-01 09:16] viveshy commented on #35
@mohitshende It has already been assigned to @KushGrandhi . Please explore other issues on the repo.

[2020-10-01 09:22] raypretam commented on #6
I want to work on it. Please assign it to me.

[2020-10-01 09:30] raypretam commented on #9
I want to work on this issue. Please assign it to me.

[2020-10-01 09:31] Aryaman2912 opened #37 "Check if a binary tree is a BST"
### Description
Write code for an efficient algorithm to check if a binary tree is a binary search tree.

### Details
- Technical Specifications: Design an algorithm that is most efficient both in terms of time and space.
- Type of issue: Single
- Time Limit: 2 Days
### Issue requirements / progress
- [ ] Implement an algorithm to check if a binary tree is a BST

### Resources
https://www.geeksfor

[2020-10-01 09:32] raypretam commented on #37
I want to work on this. Please assign it to me.

[2020-10-01 09:41] rakki-18 commented on #28
@itsanshulverma Go ahead but please stick to the time limit

[2020-10-01 09:49] suhasks123 commented on #25
@Harjot9812 Sorry, the issue has to be assigned to you for your PR to be considered

[2020-10-01 10:06] AnirudhAchal commented on #4
@dipanshug124 Sure! go ahead

[2020-10-01 10:08] dharmicksai opened #38 "Bash Shell Script For encryption and decrytion of PDF File"
### Description
Make two shell scripts ,one for encryption of a PDF file and other for decryption of an encrypted PDF file. The name of PDF file that is to be encrypted/decrypted and the password must be given as arguments to the script . The script should create new encrypted/decrypted PDF file .

### Details
- Technical Specifications: Compatible with bash shell. use qpdf package to encrypt and

[2020-10-01 10:32] niranjansy opened #39 "Affine Cipher Decryption"
### Description
The Affine cipher is a type of monoalphabetic substitution cipher, which encodes each alphabet according to a mathematical function as follows :
[code]
Example:
Original Text : AFFINECIPHER
Keys : a = 5, b = 8
Cipher Text : IHHWVCSWFRCP

Write an efficient code that performs decryption of the Affine cipher, that is, given a cipher text and values of the keys, the program should ret

[2020-10-01 10:37] DeltaCube23 commented on #5
@buttercrab sure, do go ahead.

[2020-10-01 10:38] AnorexicAtticusFinch commented on #9
Okay, go ahead and start working on it.

[2020-10-01 10:40] ritikgarg655 commented on #39
Hello,
I am interested to implement function in c++ language. This can be implemented in O(n) time complexity where N is size of string. I am having question that input is STL string or array of character?

[2020-10-01 10:42] tiagoods commented on #39
Can you assign this issue to me?

[2020-10-01 10:45] Aryaman2912 commented on #37
@raypretam Sure, go ahead.

[2020-10-01 10:50] ankur-kayal commented on #25
@suhasks123 Pull request created.

[2020-10-01 10:51] niranjansy commented on #39
@ritikgarg655 You can go ahead and work on this.
Since you are working in C++, you can take the input to be an STL string.

[2020-10-01 11:07] tiagoods commented on #38
Can you assign this issue to me?

[2020-10-01 11:07] ritikgarg655 commented on #39
ok I will make it.

[2020-10-01 11:11] Mahendra7985 commented on #39
hello , i m also interested to implement this program in python .

[2020-10-01 11:39] SureshKamediya commented on #1
@Bharadwaja92 Sure! go ahead.But please stick to the time limit.

[2020-10-01 11:49] Aravindha1234u commented on #39
Is this issue not a part of Hacktoberfest?

[2020-10-01 11:53] nishant-nayak opened #43 "Edge Detection using Convolutions from scratch"
### Description
Detect edges in an image of your choice by manipulating pixel values/applying convolutions, and upload the original image as well as the image with the detected edges, along with the code used.

### Details
- Technical Specifications: Preferred language to use is Python, and some helpful libraries are NumPy and OpenCV.
- Type of issue: Single
- Time Limit: 1 day after assignment of

[2020-10-01 12:10] Shree987 opened #45 "Modified Run-length encoding"
### Description
Given a string s and an integer k. You need to delete at most k characters from s such that the run-length encoded version of s has minimum length. Also note that in this case, we are not adding '1' after single characters.

Find the minimum length of the run-length encoded version of s after deleting at most k characters.

### Details
- Technical Specifications: Preferred Language

[2020-10-01 12:21] RohanSahana commented on #23
Can I work on this issue?

[2020-10-01 12:29] Janmansh commented on #23
@RohanSahana Go Ahead

[2020-10-01 12:34] amukh18 opened #46 "Breast cancer condition prediction"
### Description
Given the characteristics of the cell nuclei present in the image of a fine needle aspirate (FNA) of a breast mass, predict if the breast cancer tumour is malignant or benign.

The dataset contains  one id column, 30 real valued feature columns, and one string column.
Ten real-valued features are computed for each cell nucleus:

a) radius (mean of distances from center to points on

[2020-10-01 12:55] sravanireddy1102 opened #49 "Valid Decimal Number"
### Description
Given a string ,you need to output true if that can be interpreted as a decimal number and false otherwise.

Following are some examples:
1. "0" => true
2.  "2e10" => true
3.  " 0.1 " => true
4. "95a54e53" => false
5.  "abc" => false
6.  "1 a" => false
7.  " -90e3   " => true
8.  " 1e " => false
9.  "e3" => false
10.  " 6e-1" => true"
11.  " 99e2.5 " => false
12.   "53.5e93" => tru

[2020-10-01 13:27] nishant-nayak opened #51 "Applying Sunglasses filter on webcam feed"
### Description
Apply a sunglasses filter on a face in the webcam feed. The sunglasses should be present in the appropriate position on the face, and should move along with the face. The image of sunglasses and the shape predictor .dat file for finding the 68 facial landmarks are provided in the resources below (first link). Make use of the `dlib` Python library in order to use the shape predictor

[2020-10-01 13:37] RohanSahana commented on #46
@amukh18 Can I work on this issue? But I have already have put a pull request for #28 issue

[2020-10-01 13:51] keerti2001 commented on #49
Hey!  Can you assign me this

[2020-10-01 13:53] amukh18 commented on #46
@RohanSahana you may work on this issue. This issue and issue #28 are different issues. This is a classification problem.

[2020-10-01 13:56] RohanSahana commented on #46
@amukh18  Ok

[2020-10-01 13:58] sravanireddy1102 commented on #49
yeah!! Go ahead
assigned to @keerti2001

[2020-10-01 14:36] Bharadwaja92 commented on #51
Hi @nishant-nayak , I would like to work on this issue.

[2020-10-01 14:41] nishant-nayak commented on #51
@Bharadwaja92 sure! go ahead, feel free to ask if you have any queries/issues

[2020-10-01 14:45] keerti2001 commented on #49
Hey I have made a pull request

[2020-10-01 15:10] sravanireddy1102 commented on #49
Oh great!!I will look into that

[2020-10-01 15:13] niranjansy commented on #39
@Mahendra7985 and @Aravindha1234u This issue was already assigned, since @ritikgarg655 had claimed it before you.
It shall be assigned to one of you if @ritikgarg655 fails to complete it within the given time limit. Until then please explore other issues on the repo.

[2020-10-01 15:18] Aravindha1234u commented on #39
But still now this not assigned to anybody that's why I created a pull request. Can you make sure whether did you assign this to him.

[2020-10-01 15:26] niranjansy commented on #39
Yes, the issue is considered as assigned to the one who claims it first by commenting.

[2020-10-01 15:28] spectre900 commented on #24
@SuyashGupte
 ya sure ....go ahead

[2020-10-01 15:37] Aravindha1234u commented on #39
Gotcha. Thanks for that.

[2020-10-01 21:34] jkk2000 opened #58 "Computing performance of Models built with various activation functions"
### Description
Given the Fashion mnist dataset, construct models (a simple model with 4 hidden layers of same activation function would suffice) using different activation functions like ReLU, SeLU, ReLU variants, sigmoid. Plot the accuracy of each model with respect to the test data using matplotlib. *P.S. Use softmax as the output layer*
Dataset can be downloaded for [here](https://www.kaggle.c

[2020-10-01 22:26] itsanshulverma commented on #28
@rakki-18  I would like to work on lasso regression and ridge regression models too. Please assign it to me.

[2020-10-01 22:27] itsanshulverma commented on #28
Done! Please review PR.

[2020-10-02 02:42] Pravanop opened #60 "Coding a simple neural network from scratch"
### Description
Write functions for a forward pass and backward propagation for a single artificial neuron with sigmoid activation. Do not use TensorFlow, PyTorch, Keras, Caffe or any other such libraries.
### Details
- Technical Specifications: Preferably code in Python, use the NumPy library.
- Type of issue: Single
- Time Limit: 1 day after claiming the issue.

### Issue requirements / progress

[2020-10-02 03:26] sagar627 commented on #15
Hii, I like to work on this :)

[2020-10-02 05:27] praj1wal commented on #9
I want to work on this issue.

[2020-10-02 05:45] gaurang2001 commented on #15
@sagar627 , sure go ahead

[2020-10-02 06:02] praj1wal commented on #45
I want to work on this. Assign this to me.

[2020-10-02 06:11] itsanshulverma commented on #28
The last two models done! Please review the PRs.

[2020-10-02 06:11] praj1wal commented on #29
I want to work on this.

[2020-10-02 06:22] Shree987 commented on #45
Okay, go ahead @praj1wal

[2020-10-02 06:26] aksh555 opened #63 "RSA Algorithm Implementation"
### Description
RSA algorithm is an asymmetric cryptography algorithm, ie. it works on two different keys - Public Key and Private Key. As the name describes, the Public Key is given to everyone and the Private key is kept private.

An example of asymmetric cryptography:

- A client (for instance a browser) sends its public key to the server and requests for some data.
- The server encrypts the da

[2020-10-02 06:43] SaiKrishna1207 commented on #29
Sure, go ahead. Please follow the aforementioned steps described above.

[2020-10-02 07:19] varun-raghavendra opened #64 "Schools During Covid-19"
### Description
There are **n** students in a class, and **m** friendships between them. Because of Covid19 now the students will be divided into 2 groups which will have classes on alternate days. To ensure that students don't get in contact with each other during classes, the school wants to make the groups in such a way that no two students in a group are friends.

Your task is to find if this

[2020-10-02 07:27] rakki-18 commented on #28
@itsanshulverma all the code looks fine.
But the directory structure is wrong. You were supposed to make a folder named "28_Housing_Price" in the "MachineLearning" folder and inside the "28_Housing_Price" folder, you had to make a folder "name_of_model" and inside that,  you had to put all the relevant files.
Please resolve this and send another PR

[2020-10-02 07:39] itsanshulverma commented on #28
I have done the same.
I have created a separate branch for each model, with the same directory structure.

Here are the links:
- [Polynomial Regression](https://github.com/itsanshulverma/Hacktoberfest-2k20/tree/polynomial_regression/MachineLearning/28_Housing_Price/polynomialRegression)
- [Lasso Regression](https://github.com/itsanshulverma/Hacktoberfest-2k20/tree/lasso_regression/MachineLearning/

[2020-10-02 07:44] rakki-18 commented on #28
The folder under "MachineLearning" should be "28_Housing_Price" and not "28_Housing_Price/polynomialRegression".
In the "28_Housing_Price" folder, make a folder named "polynomialRegression" and inside that put all your relevant files.
Do the same for all the other 3 models and make a separate PR for the 3 of them.

[2020-10-02 08:37] rakki-18 commented on #28
@itsanshulverma Everything is fine. Good work

[2020-10-02 10:29] itsanshulverma commented on #28
Great! Happy to contribute! Thank you!
So, when will the PRs be merged?

@rakki-18

[2020-10-02 11:48] varun-raghavendra opened #70 "String Transformation"
### Description
Find the least number of operations required to transform a given string into another given string.
The allowed operations are:
- Add one character to the string.
- Remove one character from the string.
- Replace one character in the string.

For example, the minimum number of operations required for the strings "FALL" and "TALL" is 1, because you can replace F with T.

Calculate t

[2020-10-02 13:54] DineshBS44 commented on #5
Can I also do this task?

[2020-10-02 13:58] DineshBS44 commented on #3
Can only 1 person work on 1 issue? If not, can I also contribute to this? I'm an Android developer.
.

[2020-10-02 16:08] DeltaCube23 commented on #5
@krithikvaidya please merge it

[2020-10-02 17:17] nishant-nayak commented on #51
@Bharadwaja92 I've reviewed the code and I have requested a correction in your code, please look into it at the earliest. The deadline for submission will be extended till 11:59 PM, 3rd October. Thanks!

[2020-10-02 18:33] ikjot-2605 commented on #3
@DineshBS44  and @chakravarthi-v  This issue was already assigned, since @codernishchay had claimed it before you.
It shall be assigned to one of you if @codernishchay fails to complete it within the given time limit(3rd October, 2:52 am). Until then please explore other issues on the repo.

[2020-10-03 02:57] Aravindha1234u commented on #15
If this issue is still open. Could you assign for me.

[2020-10-03 03:39] SPandeyCodes commented on #70
Hi @varun-raghavendra . I would like to work on this issue. Assign this to me.

[2020-10-03 06:29] AbhiswasPatil commented on #37
Can I work on this ??

[2020-10-03 06:30] AbhiswasPatil commented on #70
Can I work on this ??

[2020-10-03 06:40] Aryaman2912 commented on #37
@AbhiswasPatil Okay, go ahead. Please stick to the time limit.

[2020-10-03 07:58] shumbul commented on #18
I want to work on this. Please assign this to me.

[2020-10-03 11:21] viveshy commented on #35
Any updates on this? Since your time limit is over, we'll assign this to other.

[2020-10-03 16:21] viveshy commented on #35
@mohitshende You can take up this issue if you like to work on it. It'll be assigned to you if you claim it before any other contributor does.

[2020-10-03 16:25] mohitshende commented on #35
Ok I will work on this. But you seemed to have removed the hactoberfest label from the issue.

[2020-10-04 11:49] varun-raghavendra commented on #70
I'm assigning this to @SPandeyCodes

[2020-10-04 19:59] ghost commented on #63
Hi, can I work on the Python version ?

[2020-10-04 20:30] aksh555 commented on #63
Sure @funky-spaghetti, go ahead

[2020-10-04 21:29] ghost commented on #64
Hi, can I work on this? Can you also clarify if the two groups need to contain the same number of students?

[2020-10-05 05:39] varun-raghavendra commented on #64
Yeah you can work on it. Also there is no such necessity that the two groups should contain the same number of students

[2020-10-05 08:52] ikjot-2605 commented on #3
You can take it up now @DineshBS44 , @chakravarthi-v. Whoever can claim it by commenting, can start working on it.

[2020-10-05 09:58] DineshBS44 commented on #3
@ikjot-2605, I would like to work on this.

[2020-10-05 09:59] ikjot-2605 commented on #3
Go ahead @DineshBS44 !

[2020-10-05 10:00] DineshBS44 commented on #3
Could you please add the Hacktoberfest label to this issue?

[2020-10-05 10:41] Janmansh commented on #23
@krithikvaidya I have reviewed @raypretam 's  PR. Please merge it.

[2020-10-05 11:05] Janmansh commented on #23
@krithikvaidya  I have reviewed @RohanSahana 's PR. Please merge it.

[2020-10-06 07:17] DeltaCube23 commented on #5
@adharshkamath please merge this

[2020-10-06 07:20] #5 closed, assigned to nobody

[2020-10-06 07:22] #14 closed, assigned to dipanshug124

[2020-10-06 07:23] #10 closed, assigned to nobody

[2020-10-06 12:44] mohitshende commented on #35
Please assign this to me.

[2020-10-06 12:46] DineshBS44 commented on #3
@ikjot-2605, I made a Pull Request, please check!

[2020-10-06 12:53] DineshBS44 commented on #43
@nishant-nayak, I would like to work on this issue. I'm planning on using Canny Edge filter for detection of edges in the image. I'll code it in python.

[2020-10-06 13:03] ikjot-2605 commented on #3
Sure @DineshBS44 I'll look through your PR and suggest any changes if required.

[2020-10-06 13:09] nishant-nayak commented on #43
@DineshBS44 sure! Go ahead, and feel free to ask if you have any doubts/queries.

[2020-10-06 15:41] rakki-18 commented on #2
@shubhamptw I am assigning it to you

[2020-10-06 15:45] #28 closed, assigned to nobody

[2020-10-06 16:38] #49 closed, assigned to nobody

[2020-10-06 16:50] gaurang2001 commented on #15
@Aravindha1234u the issue is open you can take it up. @sagar627 Sorry, but your time's up!

[2020-10-06 17:12] DineshBS44 commented on #3
@ikjot-2605, kindly try to review the PR by tomorrow morning because I have a deadline of submitting another PR for tomorrow afternoon in the same repo.

[2020-10-06 17:24] DineshBS44 commented on #43
@nishant-nayak, I'm done with this task. But, there's another task which was assigned to me earlier in the same repo and I made a PR for that task a few hours ago. Now, I'm not able to make a PR for this task yet because the reviewer hasn't merged the previous PR yet. So, I have no choice but to wait until that PR is merged. I'm saying this because the deadline for this task is 1 day.

[2020-10-06 17:24] Aravindha1234u commented on #15
Thanks for that Would Please check #48 PR

[2020-10-06 17:33] ikjot-2605 commented on #3
@krithikvaidya I have reviewed the MR and it's ready to be merged.

[2020-10-07 02:47] viveshy commented on #35
@mohitshende You can go ahead.

[2020-10-07 03:25] sagar627 commented on #15
@gaurang2001 , I already commited this Issue #72 .

[2020-10-07 04:10] Shree987 commented on #45
Since, the time-limit for submission is reached and no PR is submitted, this issue is currently not assigned to anyone and is open for submissions. Kindly claim this issue before starting with PR and finish the PR submission before time-limit once you are assigned.

[2020-10-07 04:49] mohitshende commented on #35
@viveshCodes I have submitted the pull request #80  ,please check.

[2020-10-07 04:55] krithikvaidya commented on #43
Hey, your previous PR was merged, you can go ahead with this now

[2020-10-07 04:57] #23 closed, assigned to nobody

[2020-10-07 05:05] krithikvaidya commented on #15
@sagar627

Hey Sagar, in the future do tag the issue creator either in the issue comments or in the PR comments, so that they know that you've submitted a PR for the issue. Also, it's better that you fill the issue number in the PR

![image](https://user-images.githubusercontent.com/43742553/95289501-78c9d600-0888-11eb-8645-439aae970876.png)

because it will automatically show up in the issue thre

[2020-10-07 05:05] krithikvaidya commented on #15
@gaurang2001 take a look at both the PRs, if they're fine then I'll merge them.

[2020-10-07 05:38] DineshBS44 commented on #3
@krithikvaidya , could you please add "hacktoberfest-accepted" label to this issue? It is mandatory for the PR count as the new rules in the hacktoberfest website states.

[2020-10-07 05:52] krithikvaidya commented on #3
Hey @DineshBS44 , since our repository has the hacktoberfest topic and your PR is merged, there is no need of the hacktoberfest-accepted label, it'll count towards hacktoberfest 👍

[2020-10-07 05:53] sagar627 commented on #15
@gaurang2001 @krithikvaidya sorry from my side . I Updated PR #72 .

[2020-10-07 06:04] DineshBS44 commented on #43
@nishant-nayak , I opened a Pull Request, please check.

[2020-10-07 06:05] DineshBS44 commented on #3
@krithikvaidya, okay understood. Thanks for informing!

[2020-10-07 06:21] nishant-nayak commented on #43
@DineshBS44 thanks for contributing! We'll merge your PR ASAP.

[2020-10-08 05:33] SidharthLanka commented on #22
Sure, please go ahead. I didn't see this. I fixed Directory Structure part.

[2020-10-08 09:46] #25 closed, assigned to nobody

[2020-10-08 12:34] buttercrab commented on #60
Can I do this task?

[2020-10-08 12:52] Pravanop commented on #60
Sure, go ahead!

[2020-10-09 05:56] varun-raghavendra commented on #70
This issue is open for anyone to claim again

[2020-10-09 08:43] DeltaCube23 opened #85 "Maximum XOR subarray using Trie"
### Description
Given an array of integers find the maximum XOR subarray value using a Trie.

### Details
- Technical Specifications: C/C++
- Type of issue: Single
- Time Limit: 24 hours

### Issue requirements / progress
- Make sure the code is efficient

### Directory Structure
Create a new folder called "85_Maximum_Subarray_XOR" inside algorithms folder and add all the code related to this issu

[2020-10-09 15:02] suhasks123 opened #86 "Implement a solution to the Dining Philosophers problem"
### Description
The Dining Philosophers problem is a popular problem in process synchronization in operating systems. Implement a solution to this problem.

### Details
- Technical Specifications:
- Type of issue: Single
- Time Limit: 24 hrs

### Issue requirements / progress
- [ ] Write a program that solves the Dining Philosophers problem

The preferred languages are C/C++. Threads can be used t

[2020-10-09 19:22] RohanSahana commented on #46
As per note, I  request @amukh18 to review my pull request. The code has been modified as per your request (https://github.com/WebClub-NITK/Hacktoberfest-2k20/pull/57#issuecomment-706130303) and (https://github.com/WebClub-NITK/Hacktoberfest-2k20/pull/57#issuecomment-705471159).

[2020-10-10 01:46] amukh18 commented on #46
@RohanSahana  I have reviewed your PR. The changes are correct. Good job on your PR!

[2020-10-10 01:46] #46 closed, assigned to nobody

[2020-10-10 03:18] krithikvaidya commented on #22
@SidharthLanka I'll close the issue since the PR has been merged.

[2020-10-10 03:18] #22 closed, assigned to nobody

[2020-10-10 03:19] krithikvaidya commented on #43
@nishant-nayak I'll close the issue since the PR has been merged.

[2020-10-10 03:20] krithikvaidya commented on #64
@varun-raghavendra I'll close the issue since the PR has been merged.

[2020-10-10 03:20] #64 closed, assigned to nobody

[2020-10-10 03:21] krithikvaidya commented on #3
@ikjot-2605 I'll close the issue since the PR has been merged.

[2020-10-10 03:21] #3 closed, assigned to nobody

[2020-10-10 03:21] krithikvaidya commented on #35
@viveshCodes I'll close the issue since the PR has been merged.

[2020-10-10 03:21] #35 closed, assigned to nobody

[2020-10-10 03:24] krithikvaidya commented on #63
@aksh555 I'll close the issue since the PR has been merged.

[2020-10-10 03:24] krithikvaidya commented on #2
@rakki-18 I'll close the issue since the PR has been merged.

[2020-10-10 03:24] #2 closed, assigned to nobody

[2020-10-10 03:25] krithikvaidya commented on #29
@SaiKrishna1207 I'll close the issue since the PR has been merged.

[2020-10-10 03:25] #29 closed, assigned to nobody

[2020-10-10 03:26] krithikvaidya commented on #9
Since @raypretam hasn't yet submitted a PR for this, you can go ahead @praj1wal.

[2020-10-10 03:32] #43 closed, assigned to nobody

[2020-10-10 03:32] aksh555 commented on #63
@krithikvaidya The other 2 implementations are still open to take up, so you can reopen it

[2020-10-10 03:46] krithikvaidya commented on #60
@Pravanop closing the issue since the PR has been merged.

[2020-10-10 03:46] #60 closed, assigned to nobody

[2020-10-10 03:48] krithikvaidya commented on #13
@srujangit123 closing the issue since the PR has been merged.

[2020-10-10 03:51] krithikvaidya opened #88 "Given an IPv4 Address, find its class"
### Description
Assuming classful addressing, given an IPv4 address, find its address class. If the entered IP address is invalid, your program should output an appropriate error message. Please follow the Input / Output format as shown below:

Example:
`Enter the IPv4 address: 194.200.20.55`
`This is a class C IPv4 address.`

### Details
- Technical Specifications: The task should be done in any

[2020-10-10 03:52] krithikvaidya opened #89 "SQL Operations using MySQL or SQLite3"
### Description
Using MySQL or SQLite3, create a database named 'smartphones'.
Within this database, create a single table 'smartphone_details'. In this table, create the
following fields with the appropriate types and constraints:

- smartphone_id: the primary key
- model_name: the name of the smartphone's model. max length of 50 characters
- company_name: the company that created the smartphone.

[2020-10-10 04:10] GSantos23 commented on #88
I would like to work on this one. Language: Python

[2020-10-10 04:32] bhawesh96 commented on #89
@krithikvaidya I'd like to work on this. Can you please assign this to me?

[2020-10-10 04:37] krithikvaidya commented on #89
@bhawesh96 sure, go ahead :). Mention whether you'll be doing it in MySQL or SQLite3 though

[2020-10-10 04:37] krithikvaidya commented on #88
Great, go ahead @GSantos23

[2020-10-10 04:59] saptarsi96 commented on #88
I would like to work on this one. Language: C++

[2020-10-10 05:14] krithikvaidya commented on #88
Sure, go ahead @saptarsi96

[2020-10-10 05:36] PriyanshTri commented on #89
can I perfrom this in Mysql?

[2020-10-10 05:41] bhawesh96 commented on #89
@PriyanshTri , I've already completed this in MySQL. Can you look for some other issue?
I'm about to submit a PR.

[2020-10-10 05:42] krithikvaidya commented on #89
@PriyanshTri you can try it with SQLite if you wish

[2020-10-10 06:19] WilliamNewt commented on #88
I would like to work on this in Java if that's alright?

[2020-10-10 06:34] SPandeyCodes commented on #86
Hi @suhasks123 . I would like to work on this issue. Please assign this to me.

[2020-10-10 06:35] krithikvaidya commented on #88
Sure @Infinityz

[2020-10-10 06:44] suhasks123 commented on #86
@SPandeyCodes Sure, you can start working on the issue

[2020-10-10 07:58] edoardottt commented on #88
[C and Java code](https://www.geeksforgeeks.org/program-determine-class-network-host-id-ipv4-address/)

[2020-10-10 08:37] #13 closed, assigned to nobody

[2020-10-10 09:08] bhawesh96 commented on #38
@dharmicksai , could you please assign this to me?

Also, I'm assuming that _qpdf_ shall be already installed in the system and environment variables set accordingly.

[2020-10-10 10:32] Athi223 commented on #88
i would like to contribute for JavaScript

[2020-10-10 10:58] ALoserIsMe commented on #88
I have just completed it for JavaScript, but since @Athi223 claimed it I don't mind if they are the one who gets to contribute

[2020-10-10 11:03] ALoserIsMe commented on #88
I'd like to contribute for PHP if possible

[2020-10-10 11:04] Athi223 commented on #88
I just had the same problem yesterday mate, so I started claiming before starting so code. Cheers!

[2020-10-10 11:25] henrykorir commented on #89
Assign this to me. I will do it in MySQL

[2020-10-10 12:11] KangHyeoni commented on #85
Hi @DeltaCube23 , can I work on this?

[2020-10-10 12:21] KangHyeoni commented on #58
Hello @jkk2000, can I work on it?

[2020-10-10 12:26] deepakumarvu commented on #88
I would like to claim for Language: C.

[2020-10-10 12:47] DeltaCube23 commented on #85
@KangHyeoni yeah do go ahead

[2020-10-10 13:35] krithikvaidya commented on #88
Yeah, don't forget to claim it next time :). For now, you can also submit a PR for the code you've written

[2020-10-10 13:36] krithikvaidya commented on #88
@syk007 Sure, go ahead

[2020-10-10 15:33] krithikvaidya commented on #18
@ZerothKing closing the issue since the PR is merged.

[2020-10-10 15:33] #18 closed, assigned to nobody

[2020-10-10 15:36] priyalgupta09 commented on #89
please assign this to me i can do this in sqlite3

[2020-10-10 15:38] krithikvaidya commented on #89
Cool, go ahead @priyalgupta09

[2020-10-10 16:22] krithikvaidya commented on #89
@henrykorir sorry, it's already been done in MySQL

[2020-10-10 18:00] aolaria commented on #88
I would like to do it using Go.

[2020-10-10 18:02] krithikvaidya commented on #88
Sure @aolaria

[2020-10-10 18:29] jkk2000 commented on #58
@KangHyeoni Go ahead

[2020-10-10 18:39] sakshidhamne commented on #88
I would like to contribute for Python, as it seems the one who requested for it earlier hasn't responded since 14hours

[2020-10-10 18:41] GSantos23 commented on #88
I am still working on it.

[2020-10-11 00:28] aolaria commented on #88
done!

[2020-10-11 03:53] adhamale2810 commented on #89
Please assign it to me for sqlite3
@krithikvaidya

[2020-10-11 04:00] bhawesh96 commented on #37
@Aryaman2912 , looks like this is stale. Can I pick this up?

[2020-10-11 04:05] adhamale2810 commented on #89
Please assign it to me i have already done such database in sqlite3.
should i upload both .txt and .sqlite files or only one of them.
@krithikvaidya

[2020-10-11 04:48] Aryaman2912 commented on #37
@bhawesh96 Go ahead.

[2020-10-11 05:40] #39 closed, assigned to nobody

[2020-10-11 05:44] Aryaman2912 commented on #37
Hey @bhawesh96 could you recheck your code? It doesn't seem to work for all cases.

[2020-10-11 07:33] KangHyeoni commented on #85
@DeltaCube23 Could you review my PR?

[2020-10-11 09:19] #1 closed, assigned to nobody

[2020-10-11 09:40] adhamale2810 commented on #89
@krithikvaidya Bro i am done with the sqlite3 version on the database.
Please assign it to me so that i can make a PR

[2020-10-11 14:10] adhamale2810 commented on #89
@krithikvaidya please reply, so i can make a pr if you assign.

[2020-10-11 14:15] adhamale2810 commented on #89
@krithikvaidya please reply, whether you are assigning it to me or letting her make that pr with sqlite3

[2020-10-11 15:33] dharmicksai commented on #38
@bhawesh96  , u can go ahead .
yes qpdf is already installed

[2020-10-11 16:13] krithikvaidya commented on #89
@adhamale2810 please be patient and give the issue creator time to respond.

Since the person who claimed it before didn't complete it within the time limit, you can go ahead.

[2020-10-11 16:37] adhamale2810 commented on #89
Sorry brother i wasn't knowing that there is some time limit.This is my first time participating in HacktoberFest

[2020-10-11 18:18] WilliamNewt commented on #88
Could I work on C#?

[2020-10-12 04:34] krithikvaidya commented on #88
Sure

[2020-10-12 04:38] krithikvaidya commented on #89
@adhamale2810 no problem, the purpose of Hacktoberfest is to get accustomed to contributing to open source projects :)

[2020-10-12 04:38] #89 closed, assigned to nobody

[2020-10-12 05:14] shwhite17 commented on #88
i would like to implement it in dart

[2020-10-12 05:28] SaiKrishna1207 opened #106 "Approximation of pi using OpenMP"
### Description
The task of this program will be to arrive at an approximate value of π. The value of π is given by the following integral:

π = ∫ 4dx / (1 + x^2), with the limits of integration being 1 and 0.

This can be approximated as the sum of the areas of rectangles under the curve shown in this [figure](https://www.google.com/url?sa=i&url=https%3A%2F%2Fcis.gvsu.edu%2F~wolffe%2Fcourses%2Fcs

[2020-10-12 09:39] KangHyeoni commented on #58
@jkk2000, I have a question. Should all models be trained in same number of epoch? Some models have good accuracy with only 5 epochs, while some needs almost 50 epochs.

[2020-10-12 09:58] jkk2000 commented on #58
@KangHyeoni Yes, train all models for at most 25 epochs, then stop.

[2020-10-12 10:03] KangHyeoni commented on #58
@jkk2000 Thank you for answer!

[2020-10-12 10:15] DeltaCube23 commented on #85
@krithikvaidya please merge it

[2020-10-12 10:29] #8 closed, assigned to nobody

[2020-10-12 10:44] #15 closed, assigned to nobody

[2020-10-12 10:47] #85 closed, assigned to nobody

[2020-10-12 11:51] #24 closed, assigned to nobody

[2020-10-12 14:48] ALoserIsMe commented on #88
Can I try this in Swift?

[2020-10-12 15:16] LazybuddyNK commented on #88
I would like to work on it, language : python

[2020-10-12 15:53] krithikvaidya commented on #88
Sure, go ahead @ALoserIsMe

@LazybuddyNK, sorry, Python has already been done.

[2020-10-12 17:41] dharmicksai commented on #38
@krithikvaidya please merge thi

[2020-10-13 05:20] LazybuddyNK commented on #88
I would like to work on it, language : Kotlin

[2020-10-13 05:40] #38 closed, assigned to nobody

[2020-10-13 05:40] krithikvaidya commented on #88
Go ahead @LazybuddyNK

[2020-10-13 05:59] bhawesh96 commented on #37
@Aryaman2912 , could you please assign this issue to someone else? I'm unable to figure out the problem in my script. Maybe I'll read more about BSTs.

[2020-10-13 15:01] KangHyeoni commented on #106
Could you assign it to me?

[2020-10-14 08:43] SaiKrishna1207 commented on #106
Yeah sure go ahead.

[2020-10-14 10:47] #58 closed, assigned to nobody

[2020-10-14 14:01] bhawesh96 commented on #88
@krithikvaidya , I'll do it in Ruby

[2020-10-14 15:50] #88 closed, assigned to nobody

[2020-10-15 08:53] rakki-18 opened #114 "Longest Increasing Subsequence"
### Description
Write an efficient algorithm to find the longest increasing subsequence of a given vector

### Details
- Technical Specifications:  C/C++ preferred
- Type of issue: Multiple
- Time Limit: 3 days

### Issue requirements / progress
Follow this template
[code]
- [x] Write an algorithm that finds longest increasing subsequence in O(n^2) time complexity.
- [x] Write an algorithm that fi

[2020-10-15 08:57] KangHyeoni commented on #114
Could you assign this to me?

[2020-10-15 09:38] shouvikch97 commented on #114
To achieve O(nlogn) time complexity, one needs a partial idea of Patience Sorting. I may be able to help. Will you please assign this to me?

[2020-10-15 21:10] Dheeraj-kumar626 commented on #37
@Aryaman2912 Can I work on this ??

[2020-10-15 21:18] Dheeraj-kumar626 commented on #63
@aksh555 Can i work on C++ version?

[2020-10-16 07:51] rakki-18 commented on #114
@KangHyeoni Please mention which task u are going to be working on .

[2020-10-16 07:51] rakki-18 commented on #114
@shouvikch97 Sure, go ahead!

[2020-10-16 08:31] KangHyeoni commented on #114
@rakki-18 I can do both, but I think that other person is trying to work on O(nlogn) algorithm. So I'm going to work on O(n^2) method. : ) Will you assign it to me?

[2020-10-16 09:03] rakki-18 commented on #114
@KangHyeoni Ok go ahead .

[2020-10-16 10:03] aksh555 commented on #63
@Dheeraj-kumar626 sure, go ahead

[2020-10-17 08:36] jarvis-1805 commented on #63
@aksh555 Hey! Can I work on the java version of RSA?

[2020-10-18 16:55] #114 closed, assigned to nobody

[2020-10-19 03:28] #86 closed, assigned to nobody

[2020-10-19 03:29] #106 closed, assigned to nobody

[2020-10-19 03:30] viveshy commented on #4
This issue is opened again. Anyone can claim and work on it.

[2020-10-19 03:42] viveshy opened #118 "Overlapping rectangle"
### Description
Given two rectangles, find if the given two rectangles overlap or not.
Note that a rectangle can be represented by two coordinates, top left, and bottom right. So mainly we are given the following four coordinates.
l1: Top Left coordinate of the first rectangle.
r1: Bottom Right coordinate of the first rectangle.
l2: Top Left coordinate of the second rectangle.
r2: Bottom Right coo

[2020-10-19 03:45] SPandeyCodes commented on #118
hey @viveshCodes . Can i work on this issue?

[2020-10-19 07:20] viveshy commented on #118
@SPandeyCodes you can go ahead.

[2020-10-19 10:37] aksh555 commented on #63
@jarvis-1805  sure, go ahead

[2020-10-21 04:05] #118 closed, assigned to nobody

[2020-10-22 04:22] krithikvaidya opened #122 "Dockerize a simple REST API"
### Description
Create a simple REST API (that responds to GET and POST requests) in the Web framework of your choice. Then, create a Dockerfile to Dockerize the application. The server should finally run in a container when I type in the following commands in the root folder of the project:

[code]

Performing a GET request to the "_/_" endpoint should return a page saying "Hello", and performing

[2020-10-22 04:48] krithikvaidya commented on #21
@pradumio you can go ahead with this if you wish

[2020-10-22 04:50] #63 closed, assigned to nobody

[2020-10-22 04:51] krithikvaidya commented on #7
Since @dipanshug124 hasn't created a PR yet, the issue is still open to be claimed.

[2020-10-23 13:22] pancreaflame commented on #122
I would like to take this issue.
I am going to use Flask + Gunicorn as the framework, then dockerize it.

[2020-10-27 14:51] amukh18 opened #128 "Implement power function"
### Description
Implement the `pow` function where  `pow(x,n)` = x^n.

NOTE: Do not use the inbuilt `pow()` function anywhere in your code.

Constraints:
-   100.0 < x < 100.0
-  -2^31 <= n <= 2^31-1
-  -10^4 <= x^n <= 10^4

### Details
- Technical Specifications:
- Type of issue: Single
- Time Limit: 2 days

### Issue requirements / progress
- [ ] Complete the given task

### Resources
N/A

### D

[2020-10-27 15:00] amukh18 opened #129 "Matrix wipeout"
### Description

Suppose you are given a  matrix of dimensions `mxn`. Write a program that converts the values of all cells in the row and column of a cell to 0 if the value in that cell is 0.

- Technical Specifications:
  - Type of issue: Single
  - Time Limit: 2 days

Constraints:
  - 1 <= m, n <= 200
  - The value of any cell in the given matrix is between `-2^31` and `2^31-1` (inclusive).
###

[2020-10-27 15:02] Ares358 commented on #128
I would like to take this issue.

[2020-10-27 15:10] amukh18 commented on #128
Go ahead!

[2020-10-27 16:07] SPandeyCodes commented on #129
hey @amukh18 , Assign this to me.

[2020-10-28 04:06] amukh18 commented on #129
Go ahead, @SPandeyCodes !

[2020-10-28 07:15] #11 closed, assigned to nobody

[2020-10-28 10:39] #128 closed, assigned to nobody

[2020-10-30 14:57] #70 closed, assigned to nobody

[2020-10-30 14:59] #129 closed, assigned to nobody

[2020-10-30 14:59] #51 closed, assigned to nobody

[2020-10-30 15:01] #12 closed, assigned to nobody

[2020-11-02 07:03] #122 closed, assigned to nobody

[2020-11-02 07:03] #7 closed, assigned to nobody

[2020-11-02 07:03] #21 closed, assigned to nobody

[2020-11-02 07:03] #4 closed, assigned to nobody

[2020-11-02 07:03] #37 closed, assigned to nobody

[2020-11-02 07:03] #9 closed, assigned to nobody

[2020-11-02 07:03] #45 closed, assigned to nobody

[2020-11-02 07:04] #6 closed, assigned to nobody

[2021-09-30 06:38] addhyanmalhotra opened #133 "Basic CI Testing setup"
Given a repository containing multiple cpp files check if all of them compile successfully using GitHub Actions.
[Optional]
Comment the list of files that don't compile on the pull request

[2021-09-30 08:08] #133 closed, assigned to nobody